<section class="about" id="about">
      <div class="container about-case">
        <div class="about-info">
          <h2 class="about-title">Про Меблерію</h2>
          <p class="about-text">
            У Меблерії ми прагнемо створювати затишок та функціональність у
            кожному домі. Наша місія - пропонувати високоякісні меблі, що
            поєднують у собі сучасний дизайн, довговічність та доступність. Ми
            віримо, що ідеальний інтер'єр починається з правильних меблів.
          </p>
        </div>
        <div class="about-img">
          <picture class="about-picture">
            <source
              media="(min-width: 1440px)"
              srcset="../images/about-us/about-us-desk.webp 1x, ../images/about-us/about-us-desk@2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/about-us/about-us-tablet.webp    1x,
                ../images/about-us/about-us-tablet@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="../images/about-us/about-us.webp 1x, ../images/about-us/about-us@2x.webp 2x"
            />
            <img
              class="about-img"
              src="../images/about-us/about-us.webp"
              width="335"
              height="436"
              alt="About Us"
            />
          </picture>
        </div>
      </div>
    </section>
