<section class="faq" id="faq-section">
      <div class="container faq-case accordion-container">
        <h2 class="faq-title">Часті питання</h2>

        <div class="accordion" id="faq" data-accordion data-close-others>
          <div class="ac ac-first">
            <h3 class="ac-header">
              <button class="ac-trigger">
                Як здійснюється доставка меблів?
              </button>
            </h3>
            <div class="ac-panel">
              <p>
                Ми доставляємо замовлення по всій Україні через надійні служби.
                Термін доставки зазвичай складає 3–7 днів залежно від регіону.
              </p>
            </div>
          </div>

          <div class="ac">
            <h3 class="ac-header">
              <button class="ac-trigger">
                Чи є можливість вибрати колір або матеріал?
              </button>
            </h3>
            <div class="ac-panel">
              <p>
                Так, у багатьох моделях доступні варіанти оббивки та кольорів.
                Усі доступні опції вказані на сторінці товару.
              </p>
            </div>
          </div>

          <div class="ac">
            <h3 class="ac-header">
              <button class="ac-trigger">
                Чи можна повернути товар, якщо він не підійшов?
              </button>
            </h3>
            <div class="ac-panel">
              <p>
                Так, ви можете повернути товар протягом 14 днів, якщо він не був
                у користуванні та збережений у первинному вигляді.
              </p>
            </div>
          </div>

          <div class="ac">
            <h3 class="ac-header">
              <button class="ac-trigger">
                Чи надаєте ви послугу збирання меблів?
              </button>
            </h3>
            <div class="ac-panel">
              <p>
                Так, під час оформлення замовлення можна обрати послугу
                збирання. Наші майстри зберуть меблі у зручний для вас час.
              </p>
            </div>
          </div>

          <div class="ac">
            <h3 class="ac-header">
              <button class="ac-trigger">Як здійснити оплату?</button>
            </h3>
            <div class="ac-panel">
              <p>
                Ми приймаємо оплату карткою онлайн, банківським переказом або
                післяплатою при отриманні.
              </p>
            </div>
          </div>
        </div>
      </div>
      
      
    </section>