<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Створіть свій ідеальний дім</h1>
      <p class="hero__text">
        Відкрийте для себе колекцію стильних та комфортних меблів, які
        перетворять ваш простір. Наша продукція поєднує в собі елегантність та
        функціональність.
      </p>
      <a href="#reviews"
        ><button class="hero__button">Що про нас думають</button></a
      >
    </div>
  </div>
</section>
