<section class="our-furniture" id="our-furniture-section">
  <div class="container">
    <h1 class="our-furniture-header">Наші меблі</h1>
    <p class="our-furniture-description">
      Знайдіть ідеальні рішення для вашого інтер'єру
    </p>
    <ul class="categories-list">
      <li class="category-card all">
        <p class="category-title"></p>
      </li>
      <li class="category-card sofa">
        <p class="category-title"></p>
      </li>
      <li class="category-card wardrobe">
        <p class="category-title"></p>
      </li>
      <li class="category-card bed">
        <p class="category-title"></p>
      </li>
      <li class="category-card table"><p class="category-title"></p></li>
      <li class="category-card chairs">
        <p class="category-title"></p>
      </li>
      <li class="category-card kitchen">
        <p class="category-title"></p>
      </li>
      <li class="category-card childrens-room">
        <p class="category-title"></p>
      </li>
      <li class="category-card office">
        <p class="category-title"></p>
      </li>
      <li class="category-card entryway">
        <p class="category-title"></p>
      </li>
      <li class="category-card bathroom">
        <p class="category-title"></p>
      </li>
      <li class="category-card patio">
        <p class="category-title"></p>
      </li>
      <li class="category-card decor">
        <p class="category-title"></p>
      </li>
    </ul>
    <ul class="furniture-list"></ul>
    <div class="loader-more-container">
      <span class="loader-more hidden"></span>
    </div>
    <button class="load-more-btn hidden" type="button">Показати ще</button>
  </div>
</section>
