<section
  class="modal visually-hidden"
  role="dialog"
  aria-labelledby="modal-title"
>
  <div class="modal_container">
    <button class="modal_close" aria-label="Закрити модальне вікно">×</button>

    <article class="modal_content">
      <figure class="modal_main-image">
        <img class="modal-img" src="" alt="" />
      </figure>
      <div class="modal_thumbnails"></div>

      <h2 id="modal-title" class="modal_title"></h2>
      <p class="modal_category"></p>
      <p class="modal_price"></p>

      <div class="modal_rate"></div>

      <div class="modal_colors">
        <p class="modal_colors-title">Колір</p>
        <div class="color-checkboxes"></div>
      </div>

      <p class="modal_description"></p>

      <p class="modal_sizes"></p>

      <button type="button" class="modal_order-btn">
        Перейти до замовлення
      </button>
    </article>
  </div>
</section>
