<section class="reviews" id="reviews">
  <div class="reviews-main container">
    <h2 class="reviews-title">Відгуки клієнтів</h2>
    <p class="reviews-description">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>

    <ul class="reviews-list">
      <li class="reviews-item first-review">
        <span class="reviews-stars"
          ><img src="../images/reviews/Stars.svg" alt=""
        /></span>
        <p class="reviews-text">
          “Дуже задоволена покупкою! Диван не тільки стильний, а й неймовірно
          зручний. Доставка була швидкою, все без жодної подряпини.”
        </p>
        <p class="reviews-reviewer">Олена Коваль</p>
      </li>
      <li class="reviews-item second-review">
        <span class="reviews-stars"
          ><img src="../images/reviews/Stars.svg" alt=""
        /></span>
        <p class="reviews-text">
          “Замовляв шафу й ліжко — все приїхало раніше терміну. Якість
          перевершила очікування, збирання зайняло мінімум часу.”
        </p>
        <p class="reviews-reviewer">Андрій Шевченко</p>
      </li>
      <li class="reviews-item third-review">
        <span class="reviews-stars"
          ><img src="../images/reviews/Stars.svg" alt=""
        /></span>
        <p class="reviews-text">
          “Нарешті знайшли меблі, які ідеально вписались у наш інтер’єр. Сайт
          зручний, підтримка завжди на зв’язку.”
        </p>
        <p class="reviews-reviewer">Іванна Петренко</p>
      </li>
    </ul>

    <div class="reviews-slider">
      <div class="reviews-actual-slide">
        <svg class="icon icon-Dot icon-active" width="8" height="8">
          <use xlink:href="../images/reviews/icons.svg#icon-Dot"></use>
        </svg>
        <svg class="icon icon-Dot" width="8" height="8">
          <use xlink:href="../images/reviews/icons.svg#icon-Dot"></use>
        </svg>
        <svg class="icon icon-Dot" width="8" height="8">
          <use xlink:href="../images/reviews/icons.svg#icon-Dot"></use>
        </svg>
        <svg class="icon icon-Dot" width="8" height="8">
          <use xlink:href="../images/reviews/icons.svg#icon-Dot"></use>
        </svg>
        <svg class="icon icon-Dot" width="8" height="8">
          <use xlink:href="../images/reviews/icons.svg#icon-Dot"></use>
        </svg>
        <svg class="icon icon-Dot" width="8" height="8">
          <use xlink:href="../images/reviews/icons.svg#icon-Dot"></use>
        </svg>
      </div>
      <div class="reviews-slider-btn">
        <span class="icon-btn">
          <svg class="icon icon-slider" width="13" height="13">
            <use href="../images/reviews/icons.svg#icon-before"></use>
          </svg>
        </span>

        <span class="icon-btn">
          <svg class="icon icon-slider" width="13" height="13">
            <use href="../images/reviews/icons.svg#icon-after"></use>
          </svg>
        </span>
      </div>
    </div>
  </div>
</section>
