<section class="reviews" id="review">
  <div class="reviews-main container">
    <h2 class="reviews-title">Відгуки клієнтів</h2>
    <p class="reviews-description">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>

    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper" slides-per-view="3"></div>
    </div>

    <div class="reviews-slider">
      <div class="reviews-actual-slide"></div>

      <div class="reviews-slider-btn">
        <span class="icon-btn before">
          <svg class="icon icon-slider" width="13" height="13">
            <use href="./images/reviews/icons.svg#icon-before"></use>
          </svg>
        </span>

        <span class="icon-btn after">
          <svg class="icon icon-slider" width="13" height="13">
            <use href="./images/reviews/icons.svg#icon-after"></use>
          </svg>
        </span>
      </div>
    </div>
  </div>
</section>
