body {
  font-family: 'Raleway', sans-serif;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-1-text);
}

* {
  font: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}
