.section-header {
  height: 69px;
} 
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
}

.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-right {
  display: none;
}

.menu-btn {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-btn:hover,
.menu-btn:focus {
  opacity: 0.5;
}

@media screen and (min-width: 1440px) {
  .menu-btn {
    display: none;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .header-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 32px;
  }

  .header-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: nowrap;
  }

  .header-nav-link {
    font-weight: 400;
    font-size: 16px;
    color: #080c09;
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    cursor: pointer;
    opacity: 0.5;
  }

  .header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    border-radius: 100px;
    min-width: 129px;
    box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(8, 12, 9, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background-color: #6b0609;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn:hover,
  .header-btn:focus {
    opacity: 0.5;
  }
}

.mobile-menu {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
}

.logo-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.mobile-menu-close {
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu-close:active {
  opacity: 0.5;
}

.logo-menu {
  align-items: center;
  text-decoration: none;
  color: #000;
}

.mobile-nav-list {
  margin-bottom: 32px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.mobile-nav-list a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
}

.mobile-nav-list a:active {
  opacity: 0.5;
}

.mobile-btn {
  display: block;
  width: 100%;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  background-color: #6b0609;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-btn:active {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .logo-menu {
    display: none;
  }

  .logo-btn-container {
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .mobile-menu {
    left: auto;
    right: 0;
    max-width: 298px;
    border-left: 1px solid rgba(8, 12, 9, 0.1);
  }

  .mobile-menu-content {
    padding: 32px;
  }

  .mobile-menu-close {
    padding-top: 18.39px;
  }

  .mobile-nav {
    margin-top: 44px;
  }

  .mobile-nav-list {
    align-items: flex-end;
  }

  .mobile-btn {
    min-width: 185px;
  }
}

@media screen and (min-width: 1440px) {
  .section-header {
    height: 69px;
  }
  .header-container {
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-btn {
    min-width: 129px;
    height: 42px;
  }

  .mobile-menu {
    display: none;
  }
}
