/* ----------category----------*/
.our-furniture {
  margin-top: 48px;
  margin-bottom: 48px;
}
.our-furniture-header {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;

}

.our-furniture-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 40px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.category-card {
  display: flex;
  position: relative;
  width: 100%;
  height: 122px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.category-title {
  font-size: 18px;
  color: white;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
}

.active {
  border: 8px solid #6b0609;
}
/* ----------category----------*/

/*----------furniture----------*/
.furniture-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.furniture-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  margin-bottom: 32px;
}

.furniture-image {
  border-radius: 8px;
  margin-bottom: 16px;
}

.furniture-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 8px;
  height: 58px;
  overflow: hidden;
}

.color-wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.grey-color {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #c7c3bb;
  border-radius: 50%;
}

.beige-color {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #c7aa80;
  border-radius: 50%;
}

.black-color {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #201a19;
  border-radius: 50%;
}

.furniture-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 16px;
}

.details-btn {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  border-radius: 100px;
  padding: 10px 20px;
  height: 46px;
  border: none;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0 -2px 1px rgba(0, 0, 0, 0.05), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: auto;
}

.details-btn:hover {
  opacity: 0.5;
  background-color: rgba(8, 12, 9, 0.05);
}
/*----------furniture----------*/

/*----------load-more-btn--------*/
.load-more-btn {
  display: block;
  max-width: 421px;
  width: 100%;
  height: 46px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: white;
  border: none;
  padding: 10px 20px;
  background-color: #6b0609;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more-btn:hover {
  opacity: 0.5;
}
/*----------load-more-btn--------*/

/*----------loader------------*/
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #ff3d00 #ff3d00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  height: 60px;
}

.loader-more {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader-more::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-more-container {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
/*-----------loader------------*/

@media screen and (min-width: 375px) {
  .categories-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .category-card {
    width: calc((100% - 16px) / 2);
  }
  .furniture-list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
  }
  .details-btn {
    padding: 10px 109px;
  }
  .our-furniture {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .categories-list {
    gap: 24px;
  }
  .category-card {
    width: calc((100% - 72px) / 4);
  }
  .category-title {
    font-size: 20px;
  }
  .furniture-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .furniture-card {
    width: calc((100% - 24px) / 2);
  }
  .our-furniture-header {
    font-size: 40px;
  }
  .our-furniture-description {
    font-size: 18px;
  }
  .furniture-name {
    font-size: 18px;
  }
  .furniture-price {
    font-size: 20px;
  }
  .load-more-btn {
    width: 340px;
  }
  .our-furniture {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-list {
    flex-wrap: wrap;
  }
  .category-card {
    width: calc((100% - 144px) / 7);
  }
  .category-title {
    font-size: 20px;
  }
  .furniture-card {
    width: 310px;
  }
  .details-btn {
    padding: 10px 109px;
  }
  .our-furniture-header {
    font-size: 48px;
  }
  .our-furniture {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media screen and (min-resolution: 2x) {
  .all {
    background-image: url(../images/our-furniture/all2x.webp);
  }
  .sofa {
    background-image: url(../images/our-furniture/sofa2x.webp);
  }
  .wardrobe {
    background-image: url(../images/our-furniture/wardrobe2x.webp);
  }
  .bed {
    background-image: url(../images/our-furniture/bed2x.webp);
  }
  .table {
    background-image: url(../images/our-furniture/table2x.webp);
  }
  .chairs {
    background-image: url(../images/our-furniture/chairs2x.webp);
  }
  .kitchen {
    background-image: url(../images/our-furniture/kitchen2x.webp);
  }
  .childrens-room {
    background-image: url(../images/our-furniture/childrens-room2x.webp);
  }
  .office {
    background-image: url(../images/our-furniture/office2x.webp);
  }
  .entryway {
    background-image: url(../images/our-furniture/enrtryway2x.webp);
  }
  .bathroom {
    background-image: url(../images/our-furniture/bathroom2x.webp);
  }
  .patio {
    background-image: url(../images/our-furniture/patio2x.webp);
  }
  .decor {
    background-image: url(../images/our-furniture/decor2x.webp);
    background-image: url(../images/our-furniture/all1x.webp);
  }
}

.all {
  background-image: url(../images/our-furniture/all1x.webp);
}
.sofa {
  background-image: url(../images/our-furniture/sofa1x.webp);
}
.wardrobe {
  background-image: url(../images/our-furniture/wardrobe1x.webp);
}
.bed {
  background-image: url(../images/our-furniture/bed1x.webp);
}
.table {
  background-image: url(../images/our-furniture/table1x.webp);
}
.chairs {
  background-image: url(../images/our-furniture/chairs1x.webp);
}
.kitchen {
  background-image: url(../images/our-furniture/kitchen1x.webp);
}
.childrens-room {
  background-image: url(../images/our-furniture/childrens-room1x.webp);
}
.office {
  background-image: url(../images/our-furniture/office1x.webp);
}
.entryway {
  background-image: url(../images/our-furniture/entryway1x.webp);
}
.bathroom {
  background-image: url(../images/our-furniture/bathroom1x.webp);
}
.patio {
  background-image: url(../images/our-furniture/patio1x.webp);
}
.decor {
  background-image: url(../images/our-furniture/decor1x.webp);
}
.color-wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}
.grey-color {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #c7c3bb;
  border-radius: 50%;
}
.beige-color {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #c7aa80;
  border-radius: 50%;
}
.black-color {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #201a19;
  border-radius: 50%;
}
