/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./fonts.css');
@import url('./container.css');
@import url('./base.css');

/* Sections style */
@import url('./our-furniture.css');
@import url('./about-us.css');
@import url('./footer.css'); 
@import url('./product-modal.css');
@import url('./order-modal.css');
@import url('./header.css');
@import url('./hero.css');





