/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./fonts.css');
@import url('./container.css');
@import url('./base.css');

/* Sections style */
@import url('./our-furniture.css');
@import url('./about.css');
@import url('./reviews');

@import url('./footer.css');
